{# 
    form to update or add an event
#}

<div class="container py-3 d-print-none">
    <div class="container">
        <form action="/" method="post">
            
            <div class="row" name="date time fields">
                <div class="mb-2 col">
                    <label for="date" class="form-label">Date:</label>
                    <input type="date" class="form-control" id="date" name="date" aria-describedby="dateHelp" value="{{ default_event.date }}">
                    
                </div>
                
                <div class="mb-2 col">
                    <label for="time" class="form-label">Time:</label>
                    <input type="time" class="form-control" id="date" name="time" aria-describedby="timeHelp" value="{{ default_event.time }}">
                </div>
            </div>      
            
            <div class="row" name="location conductor fields">
                <div class="mb-3 col">
                    <label for="location" class="form-label">Location:</label>
                    <select class="form-select" aria-label="Default select example" id="location" name="location">
                        {% for location in locations %}
                        {% if default_event.location == location %}
                        <option selected value="{{ location }}">{{ location }}</option>
                        {% else %}
                        <option value="{{ location }}">{{ location }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                
                <div class="mb-3 col">
                    <label for="conductor" class="form-label">Conductor:</label>
                    <select class="form-select" aria-label="Default select example" id="conductor" name="conductor">
                        {% for conductor in conductors %}
                        {% if default_event.conductor == conductor %}
                        <option selected value="{{ conductor }}">{{ conductor }}</option>
                        {% else %}
                        <option value="{{ conductor }}">{{ conductor }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <!-- Other form fields -->
            <input type="hidden" name="referrer" value="{{ referrer }}">
            
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>        
        </form>
    </div>
<div class="container">